@tailwind base;
@tailwind components;
@tailwind utilities;

/*.fade-background {*/
/*    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),*/
/*    url("/grid.svg") no-repeat center center / cover;*/
/*}*/